@{
    ViewBag.Titulo = "Welcome, User!".ToUpper();
}

<div class="">
    <h1 class="">@ViewBag.Titulo </h1>

    <Main class="">
        <p class="">
            O site definitivo para gerenciar sua lista de livros.
        </p>
    </Main>
</div>
