@model Livro
@{
    ViewBag.Titulo = "Cadastrar Livro".ToUpper();
}

<div class="">

    <h1 class="">
        @ViewBag.Titulo
    </h1>

    <form class="was-validated" asp-area="AdminArea" asp-controller="Livro" asp-action="CadastrarLivro" method="post">
        <div class="my-3">
            <label for="nome">Nome do livro</label>
            <input class="form-control is-valid" maxlength="100" type="text" asp-for="Nome" required>
            <div class="invalid-feedback">Digite um nome! (100 caracteres)</div>
        </div>

        <div class="my-3">
            <label for="dataLancamento">Mês/Ano de lançamento</label>
            <input class="form-control is-valid" type="date" id="anoMask" asp-for="DataLancamento" required />
            <div class="invalid-feedback">Selecione uma data!</div>
        </div>

        <div class="my-3">
            <label for="genero">Gênero</label>
            <select class="custom-select is-valid select" id="listarGeneros" asp-for="GeneroId" required>
                @await Html.PartialAsync(Configuration["Partials:Admin"] + "_ListarGeneros.cshtml")
            </select>
            <div class="invalid-feedback">Selecione um gênero!</div>
        </div>

        <div class="my-3">
            <button class="btn btn-success" type="submit">Enviar</button>
        </div>
    </form>
</div>