@{
    ViewBag.Titulo = "Cadastrar Livro".ToUpper();
}

<div class="">

    <h1 class="">
        @ViewBag.Titulo
    </h1>

    <form class="was-validated form-control">
        <div class="my-3 col-md-3">
            <label class="my-1" for="nome">Nome do livro</label>
            <input class="custom-select is-valid" maxlength="100" type="text" required>
            <div class="invalid-feedback">Digite um nome!</div>
        </div>

        <div class="my-3 col-md-2">
            <label class="my-1" for="data">Mês/Ano de lançamento</label>
            <input class="custom-select is-valid" type="month" id="anoMask" required />
            <div class="invalid-feedback">Selecione uma data!</div>
        </div>

        <div class="my-3 col-md-2">
            <label class="my-1" for="genero">Gênero</label>
            <select class="custom-select is-valid" name="genero" required>
                <option value="" selected>Selecionar...</option>
                <option value="1">Fantasia</option>
                <option value="2">Romance</option>
                <option value="3">Ficção Científica</option>
            </select>
            <div class="invalid-feedback">Selecione um gênero!</div>
        </div>

        <div class="my-3 col-md-2">
            <button class="btn btn-success" type="submit">Enviar</button>
        </div>
    </form>

</div>



@*^(?!0000$)(?:[0-1][0-9]{3}|20(?:[0-1][0-9]|2[0-3]))*@