.navbar-dark .navbar-toggler-icon {
    background-image: url("../image/menu-icon.png");
}

.buttonMenu {
    border: none;
}

.buttonMenu:focus {
    outline: none;
}

.buttonMenu:hover {
    outline: none;
    background-color:rgb(110, 117, 154);
}
