@{
    ViewBag.AnoAtual = DateTime.Now.Year.ToString();
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WishLibrary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WishLibrary.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="">
                <a class="navbar-brand h1" asp-area="" asp-controller="Home" asp-action="Index">WishLibrary</a>

                <button class="buttonMenu navbar-toggler toggler-example" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation"
                        aria-controls="navbarMenu" data-target="#navbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Menu" asp-action="ListarLivros">Listar Livros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="AdminArea" asp-controller="HomeAdmin" asp-action="Index">Administratror Mode</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="">
        @RenderBody()
    </main>

    <footer class="text-white bg-dark">
        <p>&copy; @ViewBag.AnoAtual - WishLibrary</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
